APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_DATABASE=auction_bot
DB_USERNAME=carbot
DB_PASSWORD=carbot_pass
MYSQL_ROOT_PASSWORD=root_pass

TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
